*{
    font-size: 3vh;
}
ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    border: 0.3em solid rgb(184, 180, 180); /* Apply border */
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.75em; 
  }
  p,input {
    border: 0.1em solid rgb(123, 104, 145); /* Apply border */
    padding: 0.5em;
    margin: 0.2em 0;
    border-radius: 0.75em;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    text-transform: capitalize;
  }
  img{
    border-radius: 0.75em;
  }
  p.highlight {
    border: 4px solid red; /* Red border around the paragraph */
    padding: 10px;
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: #333;
  }
  #search-input{
    width:80vw
  }
  /* Tablet screens (e.g., 768px wide and up) */
@media only screen and (min-width: 768px) {
    body {
      font-size: 20px;
    }
  }
  
  /* Small desktop screens (e.g., 992px wide and up) */
  @media only screen and (min-width: 992px) {
    body {
      font-size: 24px;
    }
  }
  
  /* Large desktop screens (e.g., 1200px wide and up) */
  @media only screen and (min-width: 1200px) {
    body {
      font-size: 28px;
    }
  }